<h1>Pets</h1>

<% for pet in @pets %>
  <p><b>Name:</b> <%= pet.name.capitalize %></p>
  <p><b>Date of Birth:</b> <%= pet.dob %></p>
  <p><b>Breed:</b> <%= pet.type.capitalize %></p>
  <p><b>Notes:</b> <%= pet.notes %></p>
  <p><b>Owner:</b> <%= pet.owner['name'] %></p>
  <p><b>Vet:</b> <%= pet.vet['name'] %></p>
  <hr>
<% end %>
