<h1><%= @pet.name %></h1>
<p><b>Date of Birth:</b> <%= @pet.dob %></p>
<p><b>Breed:</b> <%= @pet.type.capitalize %></p>
<p><b>Owner:</b><a href="/owners/<%= @pet.owner_id %>"> <%= @owner.name %> </a>
  <br>
  <br>
<h3>Notes:</h3>
<p><a id="note-new" href="/notes/<%= @pet.id %>/new">Add New Note</a></p>
  <% for note in @notes %>
    <p> <b><span style="color:#7FD8BE"><%= note.note_date %></span></b>
     <%= note.note %>
    <a id="note-edit" href="/notes/edit/<%= note.id %>"><i class="fas fa-edit"></i></a>
    <a id="note-delete" href="/notes/delete/<%= note.id %>"><i class="fas fa-trash-alt"></i></a></p>
     <hr>
  <% end %>
<br>
<br>
<p><a id="pet-edit" href="/pets/<%= @pet.id %>/edit">Edit Information</a><a id="pet-delete" href="/pets/delete/<%= @pet.id %>">Delete Pet</a></p>
