<div class="vet-index">
<h1>Vets</h1>
<p><a id="vet-new" href="/vets/new">Register a New Vet</a></p>
<% for vet in @vets %>
  <h3><%= vet.name %></h3>

    <% for pet in vet.pets %>
    <p><a href = "/pets/<%= pet.id %>"><%= pet.name %> </a></p>
    <% end %>

  <a id="vet-edit" href="/vets/edit/<%= vet.id %>">Edit Vet</a>
  <a id="vet-delete" href="/vets/delete/<%= vet.id %>">Delete Vet</a>
  <br>
  <br>
  <hr>
<% end %>
</div>
