<h1>Appointments:</h1>

<% for appointment in @appointments %>
  <h3><b><%= appointment.pet.name %></b></h3>
  <p><b>Date: </b><%= appointment.date %>    
  <b>Time: </b><%= appointment.start_time.chomp(':00') %> -
  <%= appointment.end_time.chomp(':00') %></p>
  <p><b>Vet: </b><%= appointment.vet.name %></p>
  <p><b>Details: </b><%= appointment.details %></p>
  <hr>
<% end %>
