<h1><%= @owner.name %></h1>
<p><b>Address:</b> <%= @owner.address %></p>
<p><b>Phone Number:</b> <%= @owner.phone_number %></p>
<p><a id="owner-edit" href="/owners/<%= @owner.id %>/edit">Edit Information</a><a id="owner-delete" href=/owners/delete/<%= @owner.id %>>Delete Owner</a>
</p>
